/*Wyglad tekstu*/
.mediumText{
    font-size: 30px;
}
.smallText{
    font-size: 20px;
}
.center {
    margin: auto;
}
.centerText{
    text-align: center;
}
.leftText{
    text-align: left;
}
.marginLeft{
    margin-left: 50px;
    margin-right: 50px;
}
/*Ogolne*/
body{
    background: linear-gradient(aqua, rgb(177, 182, 255), rgb(88, 88, 255));
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1{
    text-align: center;
}
small{
    font-size: 15px;
    color: black;
}

/*Album*/
#album{
    border: 5px solid;
    width: 500px;
    height: 700px;
    float: left;
    background-color: rgb(255, 255, 168);
    padding-top: 30px;

    margin-left: 50px;
    margin-right: 50px;
}
#zdjecie{
    border: 3px solid;
    width: 300px;
    height: 300px;
    margin-top: 30px;
    background-image: url(files/0.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#opis{
    margin-left: 20px;
    margin-right: 20px;
}
#wybierz{
    margin-bottom: 10px;
    margin-top: 10px;
}

/*Wiezienie*/
#wiezienie{
    float: left;
    border: 5px solid;
    width: 500px;
    height: 700px;
    background-image: url(files/wiezienie.png);
    background-repeat: no-repeat;
    background-size: cover;

    padding-top: 30px;
    margin-right: 50px;
}
#zdjecieWiezienie{
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    background-image: url(files/0.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: 0.5s;
}
#dialog{
    padding-top: 50px;
    border: 5px solid black;
    width: 450px;
    height: 100px;
    margin-bottom: 50px;
    background-color: rgba(255, 255, 255, 0.5);
}

/*Quiz*/
#quiz{
    float: left;
    border: 5px solid;
    width: 500px;
    height: 730px;
    background: whitesmoke;
    background-repeat: no-repeat;
    background-size: cover;
    
    margin-right: 50px;
}
#quizZdjecie{
    background-image: url(files/quiz0.png);
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid black;
    margin-bottom: 10px;
}
#quizZle{
    width: 500px;
    height: 480px;
    background-color: red;
    color: white;
    font-size: 100px;
    padding-top: 250px;
}
#restart{
    height: 100px;
    width: 250px;
    font-size: 50px;
}
#quizKoniec{
    width: 500px;
    height: 480px;
    background-color: lime;
    color: white;
    font-size: 70px;
    padding-top: 250px;
}